@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,300&display=swap');


* {
    box-sizing: border-box;
}


body {
    background-color: #0D1C4A;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.content {
    max-width: 1440px;
    margin: 0 auto;
    /* padding-top: 205px; */
    height: 810px;
}

.main {
    margin-bottom: 250px;
}


.start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
    /* display: none; */
}

.startnone{
    display: none;
}

.start h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.start p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #FEE1E5;
}

.btn {
    width: 194px;
    height: 68px;
    border-radius: 50%;
    background: #0B57A5;
    border-color: transparent;
    color: white;
    cursor: pointer;
}

.btn:hover {
    border: white 3px solid;
    transform: rotate(-20deg);

}

.questions {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    display: none;
}


.title {
    margin-bottom: 20px;
}

.title h1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #FFFFFF;

}

.title img {
    position: absolute;
    left: 80px;
}

.arr-left {
    cursor: pointer;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: #FFFFFF 1px solid;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.answers{
    margin-bottom: 100px;  
}

.answers p {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #FEE1E5;
}

.final{
    display: none;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
}

.social img {
    margin-right: 10px;
}


.quiz-container{
    display: none;
}